[2015-12-17 10:00] VRSandeep opened #1 "Pip Installation does not work"
`pip install razorpay` throws
[code]

[2015-12-17 16:19] shashankkumar commented on #1
@captn3m0 take a look?

[2015-12-19 10:09] captn3m0 commented on #1
This has now been fixed. Thanks a lot :+1:

[2015-12-19 10:09] #1 closed

[2015-12-19 10:53] VRSandeep commented on #1
Although pip install ran, it did not install resources folder

[2015-12-19 11:02] captn3m0 commented on #1
Sorry about that. Just pushed a new release (0.1.1) with the fix.

[2015-12-19 11:12] VRSandeep commented on #1
Could you please check again

[2015-12-19 11:23] captn3m0 commented on #1
The file at pypi is https://pypi.python.org/packages/source/r/razorpay/razorpay-0.1.1.tar.gz

which contains the razorpay/resources subdirectory. I am able to make requests fine using the test code with this.

[2015-12-19 11:23] captn3m0 commented on #1
Could you try uninstalling and re-installing the package?

[2015-12-19 11:47] pnhegde commented on #1
Manually running `setup.py install` works but `pip install razorpay` still not working. Create a new virtualenv and test it. You may want to check this out. http://tom-christie.github.io/articles/pypi/

[2015-12-19 12:17] VRSandeep commented on #1
Can you move files from resources folder to the same folder as a quick fix?

[2015-12-19 13:09] captn3m0 commented on #1
@pnhegde Thanks for the link. Learnt a lot about python packaging today.

The problem was indeed in setup.py, which doesn't work recursively. I have added the resources module to it now, and its being imported perfectly as well

[code]

[2016-09-09 13:46] pkatloktra opened #3 "Auto Capturing Payment flow is not working"
In order to send order_id in checkout form for auto capture payment
I am creating order by: client.order.create(data=DATA)

Where DATA = {'amount': 200, 'currency': 'INR', 'receipt': 200, 'payment_capture': "true"}
I also  tried DATA = {'amount': 200, 'currency': 'INR', 'receipt': 200, 'payment_capture': True}

It is showing error BadRequestError: validation.boolean

Please help me with the issue.

[2016-09-14 12:39] gaurav1068 commented on #3
You need to pass DATA = {'amount': 200, 'currency': 'INR', 'receipt': 200, 'payment_capture': 1}

closing the issue

[2016-09-14 12:39] #3 closed

[2017-04-22 20:53] akroushan opened #22 "How to use options in payment.all() ?"
options : from, to, count and skip : How it can be used in python library ?

[2017-04-24 07:23] gaurav1068 commented on #22
Hi @akroushan,
For using from, to, count, skip pass these as extra params in dict
e.g
for fetching all payments default call would be
client = razorpay.Client(auth=("<key>", "<secret>"))
client.payment.fetch_all()

for fetching with extra params it will be :
client.payment.fetch_all({'count':20})

similarly you can use other params also.

[2017-04-24 07:23] #22 closed

[2017-07-13 07:50] Vaibhavs10 opened #23 "Setting up webhook"
Hey!

I am new to razorpay and have to setup a payment gateway for one of my products,
We have our application stack built on Flask (microframework in python)

I am unable to figure out the steps to build a payment gateway and how to setup a webhook

Can you please help me out with this?

[2017-07-13 07:57] gaurav1068 commented on #23
@Vaibhavs10 Please refer to this https://github.com/razorpay/razorpay-python-testapp

[2017-07-13 08:21] Vaibhavs10 commented on #23
@gaurav1068 Thank you for sharing this link with me, I was wondering how can I integrate a form with this, right now all the data is transferred using Javascript, TIA :)

[2017-07-17 09:06] harman28 opened #24 "[Utility] Webhook validation assumes secret is merchant API secret"
We need to allow custom secrets as well

[2017-07-18 09:08] harman28 commented on #24
Closed via #25

[2017-07-18 09:08] #24 closed

[2017-07-28 07:24] chetandhembre opened #26 "hmac.compare_digest does not exist in Python < 2.7.7"
I am getting  `AttributeError: 'module' object has no attribute 'compare_digest'`. I am using Python 2.7.6.
why not fall back to simple string compare if python version is less than 2.7.7.
I can make pull request if you want to.

[2017-07-28 07:48] chetandhembre commented on #26
related https://github.com/razorpay/razorpay-python/pull/27

[2017-07-28 07:50] captn3m0 commented on #26
The reason is to prevent timing attacks:

We'll need to implement a constant-timing comparison to prevent that. If you can edit your PR to accommodate that, we'll be happy to merge and do a new release.

[2017-07-31 10:21] captn3m0 commented on #26
Python 2.7.6 was released on November 10, 2013, more than 3.5 years back. `2.7.6` is no longer supported as per my understanding. We're still looking to push a fix for this, but you are already behind on the security fixes, and I'd recommend upgrading.

[2017-07-31 12:38] captn3m0 commented on #26
In progress: https://github.com/razorpay/razorpay-python/pull/29/files

[2017-08-08 08:18] anuragsingh722 opened #31 "Handling Connection Error"
How do we catch connection error **'Connection aborted.', ConnectionResetError(104, 'Connection reset by peer')**, which usually comes after submitting the payment request from frontend via **Automatic Checkout**.

As I understand, there is no call made to action url in above case, so I can't catch the error in our backend. Hence it ends up in a 500 error usually.
We would want to redirect him to

[2017-08-16 10:02] #31 closed

[2017-09-04 11:10] SaptakS opened #32 "Redirecting from payment using link"
Right now, when I make a payment using the payment url and the payment is success I am taken to the below page.
![screen shot 2017-09-04 at 4 39 33 pm](https://user-images.githubusercontent.com/9530293/30024051-aaaf2d78-918f-11e7-9905-7e82aed01daf.png)

I want to redirect to my website. Any help is appreciated

[2017-09-11 10:02] jitendra-1217 commented on #32
Hi @SaptakS , this feature is available with us now. For early access please drop us an email at integrations@razorpay.com and we'll take it up from there.

[2017-09-11 10:02] #32 closed

[2017-09-11 10:05] SaptakS commented on #32
@jitendra-1217 thanks

[2017-10-04 08:32] #26 closed

[2017-10-04 13:26] gaurav1068 commented on #23
closing as no further action is required

[2017-10-04 13:26] #23 closed

[2017-12-11 03:32] JyothikaBhat opened #40 "Unable to edit Customer details"
The following is my test code:
I have set up my Client with the required authentication.

client = razorpay.Client(auth=("*************", "***********"))
client.set_app_details({"title" : "Django", "version" : "1.8.17"})

phone_num = '11115 12345'
customer = client.customer.edit(customer_id,phone_num)

However, I am unable to edit the customer as the following error is thrown.

razorpay.errors.Bad

[2017-12-13 12:21] #40 closed

[2018-04-19 09:18] ArijitWeird opened #43 "Payments getting failed for SBI ?"
Why SBI payment failing everytime someone tries to do? Is there any bug being not taken care of , as in our case payments are being captured for other banks but not for SBI

[2018-04-19 14:26] captn3m0 commented on #43
We use this repository for issues pertaining to our Python API Client. In case of any support queries, please write to us at support@razorpay.com

[2018-04-19 14:26] #43 closed

[2018-04-20 12:00] shivambats opened #44 "razorpay.errors.BadRequestError: 0 is/are not required and should not be sent"
While creating the invoice, I am getting Bad Request Error

Below is how I am requesting the API,

DATA = '{"type":"invoice", "customer":{ "name": "Name", "email":"email", "contact":"919899XXXXXX", "billing_address":{ "line1":"318 C-Wing, Suyog Co. Housing Society Ltd., T.P.S Road, Vazira, Borivali", "city":"West Mumbai", "state":"Maharashtra", "zipcode":"400092", "country":"India" } }, "line_item

[2018-04-20 13:11] #44 closed

[2018-05-03 11:30] msj2 commented on #1
Hi,
I'm on Ubuntu 16.04
python 2.7.12
pip 9.0.1

sudo pip install razorpay throws Error. Trys 4 times

Pasting the pip error log below.

`Collecting razorpay
  Retrying (Retry(total=4, connect=None, read=None, redirect=None)) after connection broken by 'NewConnectionError('<pip._vendor.requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x7f2243c15c50>: Failed to establish a new

[2018-05-03 11:31] msj2 opened #46 "pip installation failure May 3 2018, Re-opening Issue #1"
Hi,
I'm on Ubuntu 16.04
python 2.7.12
pip 9.0.1
(& yes, my internet connection is very much working, .. files.pythonhosted.org is down but from quite some time... )
I tried
sudo pip install razorpay

It throws Error. Tries 4 times & then gives up.

Pasting the pip error log below.

Collecting razorpay Retrying (Retry(total=4, connect=None, read=None, redirect=None)) after connection broken by 'New

[2018-05-03 11:55] captn3m0 commented on #1
@msj2 Are you able to install other packages fine? Looks like a network issue:

[code]

[2018-08-06 11:26] kuntalk opened #48 "Integrating Razorpay with Saleor e-commerce app"
I am trying to integrate razorpay with Saleor, django based e-commerce app. There is no help in internet.
Saleor is using django-payment module for payment processing. There are only few payment gateways that supports django-payment and all of them are based out of India. Can I get some guidance or help so that I can integrate with Saleor?

[Link to Saleor github](https://github.com/mirumee/saleor

[2018-08-08 16:53] oxalorg commented on #48
To be honest, it would be better if this discussion is taken over to django-payments repo instead of the Razorpay sdk repo.

Here's an issue discussing the exact same thing: https://github.com/mirumee/django-payments/issues/189

[2018-09-06 13:42] karankapoor229 opened #49 "Getting payment details, history of a particular customer."
Is there a way to get Billing details of a particular customer? I looked at the Razorpay Dashboard as well as the API Docs but found nothing.

[2018-09-06 15:59] captn3m0 commented on #49
This repo is only for issues specific to our Python SDK. Please send support requests to support@razorpay.com.

A [customer entity](https://razorpay.com/docs/getting-started/customers/#fetching-a-customer-using-id) is limited, but you might wanna look at [Invoices](https://razorpay.com/docs/invoices/operations/#issuing-an-invoice) instead

[2018-09-06 15:59] #49 closed

[2018-09-11 19:20] danish2512 opened #50 "Create Plan attributes"
In create plan API the param item_id(is there any api for creating item) is required but on their website the input data is like:

Create Plan
{
  "period": "weekly",
  "interval": 1,
  "item": {
    "name": "Test Weekly 1 plan",
    "description": "Description for the weekly 1 plan",
    "amount": 600,
    "currency": "INR"
  }
}
https://razorpay.com/docs/subscriptions/api/

[2018-09-11 20:00] #50 closed

[2018-09-14 14:54] vijayreddy1991 commented on #26
when i am try to install python2.7.6 officially supported for ubuntu14.04 getting this error CryptographyDeprecationWarning: Support for your Python version is deprecated. The next version of cryptography will remove support. Please upgrade to a 2.7.x release that supports hmac.compare_digest as soon as possible.
  utils.DeprecatedIn23,

[2018-09-15 10:17] Krishnaraj-K commented on #46
HI Mallikarjuna,

On Ubuntu 18.04, I am also facing the same issue what exactly you are facing, did you find the fix for the same, if yes, Requesting you to please share the steps, so that i can also fix in my environment.

Thanks and Regards,
Krishnaraj

[2018-09-15 17:48] Krishnaraj-K commented on #1
Hey Msj,

@msj2 Did you solve the issue, if yes could you please do let me know how to fixed it, i am also facing the same issue exactly like you, even i can tell this is a network issue, require your help if fixed.

[2018-10-07 11:22] krngd2 opened #51 "'Client' object has no attribute 'set_app_details'"
I am getting this error while adding payment method to my Flask app
'Client' object has no attribute 'set_app_details'
razorpay_client = razorpay.Client(auth=(xxxxxxx", "xxxxxx"))
razorpay_client.set_app_details({"title" : "ML Captcha Prediction", "version" : "0.5"})

[2018-11-01 22:38] NyanKiyoshi opened #52 "Exceptions does not inherit from a base exception"
Hello,

I noticed that all razorpay exceptions are inheriting from `Exception` instead of an razorpay exception.

This should really get refactored.

https://github.com/razorpay/razorpay-python/blob/c07df652e5bba2a2efc7b56b24e7ca67c8ae449f/razorpay/errors.py#L1-L18

[2018-11-26 06:19] anupamme opened #53 "creating payment link"
Hello

I am looking to create a payment link programmatically e.g.

https://dashboard.razorpay.com/#/app/paymentlinks/new

Can you tell me how it can be done?

[2018-12-03 14:03] 5parkp1ug opened #54 "Issue with verify_webhook_signature"
The method verify_webhook_signature calls verify_signature instead of returning, also it doesn't return the result which causes the return type of the verify_signature method to be NoneType causing the issue.

We need to return the method self.verify_signature at -
https://github.com/razorpay/razorpay-python/blob/master/razorpay/utility/utility.py#L25

We need an else case to return the result at

[2018-12-27 03:53] mevinbabuc opened #55 "Most excepts are of razorpay.errors.BadRequestError. This should be returning specific exceptions and error codes."
Most of the exceptions are `razorpay.errors.BadRequestError`, this should be little more specific by returning proper exceptions or error codes, so its easy to handle these errors when implementing.

Probably have a base class of Exceptions as mentioned here #52 and have sub classes for each errors like customer already exists etc, rather than returning `razorpay.errors.BadRequestError`

[2018-12-27 08:50] arpansac opened #56 "Capturing payment on test credentials throws error"
This is what I'm getting

[code]

[2019-01-01 14:43] kaliaabhishek commented on #56
Hi @arpansac ,

As far as I can understand the exception, it's more likely an issue on your server side (SSL versioning) and the python requests module rather than an issue with this repository. However, can you share the output of these commands on your terminal?

`python -c "import ssl; print ssl.OPENSSL_VERSION"`

`python -c "from OpenSSL.SSL import SSLeay_version, SSLEAY_VERSION; print SSLeay_

[2019-01-01 14:50] kaliaabhishek commented on #53
Looking at the API documentation along with several client libraries, it seems that creating payment links programmatically is not possible. I think the dev team can look into this with more detail.

[2019-01-01 14:57] kaliaabhishek commented on #51
Hi @krngd2 ,
This might be an issue with the virtual environment if you are using one. Can you share the repository link that I can look into?

[2019-01-08 18:26] OmPrakash95 opened #57 "Feature Request: Get all Authorized payments"
I'm looking for a method through which I can fetch all Authorized payments and list it just like how it is in the razorpay dashboard where I can filter the list of payments with the help of its statuses such as 'Authorized' ' Captured' 'Refund' etc.

[2019-01-10 11:40] f3n1Xx commented on #51
@krngd2 still getting this error?

[2019-01-12 18:49] arpansac commented on #56
Hey @kaliaabhishek
Found the solution, actually pip3 is unable to install anything as it is unable to access the internet (visible in logs). There's a module which got changed after Python 3.5. So, the solution is to rollback my system's python to a version before 3.5.

Should there be a support in the Razorpay package too?

[2019-01-13 07:35] kaliaabhishek commented on #56
Hi @arpansac ,

Glad you found the solution to your problem.

The current package seems compatible with ~3.5, your problem might be an isolated local problem. I will try reproducing your error nonetheless.

[2019-01-22 18:30] radhika-tk commented on #53
@anupamme , @kaliaabhishek : It is possible to create payment links programatically too. Refer the product documentation on the website: https://razorpay.com/docs/payment-links/api/

[2019-01-23 06:44] dhaval-mehta opened #59 "Retrieve payments for given time range."
I have a case where I want to retrieve payments for given time range. For example, I want to retrieve payments done between 9 PM to 10 PM on 21st January 2019. I have checked docs of razorpay and I found that I need to pass two query parameters "from" and "to". You can read docs from: [https://docs.razorpay.com/docs/payments](https://docs.razorpay.com/docs/payments)

I did not find anything in pyt

[2019-01-23 08:03] kaliaabhishek commented on #53
@radhika-tk thanks!

[2019-02-02 06:16] varunajmera0 commented on #53
client.invoice.create(data={
              "customer": {
                "name": "Varun Test",
                "email": "varuna@gmail.com",
                "contact": "1234567"
              },
              "type": "link",
              "view_less": 1,
              "amount": 2000,
              "currency": "INR",
              "description": "Payment link for this purpose - xyz.",
            })

[2019-02-04 06:46] varunajmera0 opened #60 "Send/Resend Notifications"
There is no implementation to resend the notification.

https://razorpay.com/docs/invoices/api/#sendresend-notifications

[2019-02-05 11:13] varunajmera0 commented on #59
Here is def: You can pass in data. I think.
https://github.com/razorpay/razorpay-python/blob/master/razorpay/resources/payment.py

def all(self, data={}, **kwargs):
        """"
        Fetch all Payment entities
        Returns:
            Dictionary of Payment data
        """
        return super(Payment, self).all(data, **kwargs)

[2019-02-26 09:46] anupamme commented on #53
So once a user makes a payment how will we get the status of this payment (programatically)?

Because we dont have a payment id here which we can query your API(s).

[2019-04-16 10:36] SurajB opened #65 "Razorpay signature verification failure"
I am trying to integrate razor pay payment link through python SDK. While trying to verify the signature sent in header with the web hook response from razor pay, I get the following error.

`
File "/var/task/services/loan_repayment_service.py", line 569, in initiate_update_repayment
  client.utility.verify_webhook_signature(body_string, signature, api_key)
  File "/var/task/razorpay/utility/utili

[2019-04-19 18:24] captn3m0 commented on #65
This is incorrect. Please don't parse the request body, and instead use the raw response body.

See https://docs.djangoproject.com/en/2.2/ref/request-response/#django.http.HttpRequest.body on how to read it in Django.

[2019-04-22 09:32] SurajB commented on #65
Thanks for the response.

"Converted the response body to string using **json.loads()** and passed to razor pay signature verification function along with signature and secret key configured in razor pay."

Sorry that was my bad. I meant json.dumps(). Was trying to convert the raw json response to string and then pass it to verify the signature. That gave us the error as mentioned in earlier comme

[2019-04-23 10:47] jitendra-1217 commented on #65
The util method i.e. verify_signature expects string body. In general most frameworks have method to get request body as string (e.g. python's flask, php's laravel/symfony etc).  But with django I see it has one way (i.e. HttpRequest.body) which returns body as bytestring instead of string.

Suggest you to decode bytestring to string then pass it to the Razorpay's sdk. This is twice encoding-decod

[2019-04-23 10:48] #65 closed

[2019-04-23 10:49] jitendra-1217 commented on #65
@SurajB : Closing this issue now referring to https://github.com/razorpay/razorpay-python/issues/65#issuecomment-485752662, please do re-open/comment if issue persists.

[2019-05-24 02:01] elouar25 opened #66 "client.payment.transfer() method can't be called properly"
Hello,

Calling the **client.payment.transfer("<PAYMENT_ID>")** method throws an error.

My code (file "test_transfer.py"):
[code]

The response from Terminal:
[code]

I guess the documentation is not up-to-date. Please help me how to make a transfer.

Thanks a ton!

[2019-06-18 12:50] mahoriR opened #68 "Subscription cancel API should document cancel_at_cycle_end parameter"
When canceling a subscription, REST APIs allow passing `cancel_at_cycle_end` parameter to cancel immediately or at the end of the current cycle.

Same could be achieved via python client by passing ` data={"cancel_at_cycle_end":1} `. This is not explicitly documented and should be.

[2019-07-18 12:46] Sachinjha469 opened #69 "Fetching Email address respective to all successful Payment ID!"
I am trying to use a query something like this:
`if Successful:
      client.payment.all().values('email')`

In order to extract the email id's of all the payers who successfully completed the Payment Procedure! Is there some query to resolve my issue?

[2019-07-28 14:39] nikmalviya opened #70 "payment signature verification failure"
`def handlepayment(request):
    print(request.POST)
    from razorpay.client import Client
    client = Client(auth=('key', 'scret'))
    client.utility.verify_payment_signature(request.POST)
    return HttpResponse(request.POST)`
![image](https://user-images.githubusercontent.com/34293056/62008114-4516fa80-b173-11e9-8e69-92b8f7bc08b3.png)
POST body contains
razorpay_order_id
razorpay_payment_id

[2019-08-18 06:59] navidkhn1 opened #71 "Descriptive error messages needed instead of "The requested URL was not found on the server""
If a product hasn't been activated through Razorpay's dashboard, such as Subscriptions, accessing related APIs through the cli returns "The requested URL was not found on the server".

This should instead return a proper descriptive message showcasing the problem.

[2019-11-12 16:53] vinaykr579 opened #73 "AttributeError: module 'razorpay' has no attribute 'Client'"
I am getting error **AttributeError: module 'razorpay' has no attribute 'Client'**
python setup : python 3.5 venv

import razorpay

razorpay.Client(auth=("****", "*****"))

[2019-11-20 16:32] #73 closed

[2019-12-21 18:44] sanjaykhanssk commented on #51
Have you **figure out how to solve**  , because **i too getting same error**

[2019-12-21 18:56] sanjaykhanssk commented on #51
just downloaded the [zip from this repo](https://github.com/razorpay/razorpay-python/releases/tag/1.2.0), after that :
`python setup.py install`
it works..
Close this issue.

[2019-12-22 16:36] Aniket-Singla opened #74 "Razorpay js Script not executing in Chrome."
Google chrome displays the following error and says that razorpay failed to load.
[code]

I am new to such scripts. What I am able to dig from the error message is the link ```https://api.razorpay.com/v1/checkout/public``` has set the response header X-Frame Options to SameOrigin, which should mean that there is a problem on above link.

Suggest me what to do with this error. This seems to be chro

[2020-01-02 13:52] captn3m0 commented on #70
Closing as stale.

[2020-01-02 13:52] #70 closed

[2020-01-06 15:02] chandrabhanchaudhary opened #75 "Manual Signature Matching"
Hii i'm trying to match signature of Razor Pay but i'm not able to match that
please find below code which uses that

 Func<RazorPayCheckoutResponse, bool> RazorPaySignatureMatching = s =>{
            try
            {
                ASCIIEncoding encoding = new ASCIIEncoding();
                HMACSHA256 hmacsha256 = new HMACSHA256(encoding.GetBytes(RAZOR_PAY_SECRET));
                string ge

[2020-01-31 06:18] singhgautam7 opened #76 "Support for python 3.7"
I am currently using python 3.7.x and as seen in razorpay python documentation, it has support only till 3.6. Is there anything I can do to integrate razorpay with my project?

[2020-02-01 22:58] Goutam192002 opened #77 "Recurring Payments APIs"
How do I create recurring payments using razorpay-pytho sdk?
Here is the rest API reference: https://razorpay.com/docs/recurring-payments/api/subsequent-payments-card/

[2020-03-10 18:14] pdeep95 opened #78 "Getting AttributeError while creating order id in Python3.7"
I'm getting `AttributeError: 'str' object has no attribute 'post'`
when I call/run `client.order.create({'amount': 10000, 'currency': 'INR', 'receipt': 'receipt-12345', 'payment_capture': 0})`

[2020-03-11 09:03] #78 closed

[2020-03-15 16:35] shu8hamrajput opened #79 "Mismatch in Documentation and implementation"
while calling capture payment. Acc. to documentation one should pass currency string as third argument to function "client.payment.capture"  [https://razorpay.com/docs/api/payments/#capture-a-payment](url)

while in implementation code the function expects a dictionary with currency string.

[2020-03-26 13:25] mascot6699 opened #80 "Missing function to fetch payment details made to a Virtual Account if payment is UPI Transfer"
The docs says for UPI transaction there is a separate api call ([here](https://razorpay.com/docs/smart-collect/api/fetch/#upi)) to fetch payment details given an id.

I see something similar is already done for `bank_account` payments. ([here](https://github.com/razorpay/razorpay-python/blob/5bc63fd8452165a4b54556888492e555222c8afe/razorpay/resources/payment.py#L94)) so please provide another func

[2020-04-12 12:32] charanjit-singh opened #81 "Payment Capture: TypeError: 'str' object does not support item assignment"
Stacktrace:

[code]

[2020-04-25 10:31] GopikrishnanSasikumar opened #82 "Signature verification for subscription giving key error"
[code]

Getting this while trying to verify signature of subscription using client.utility.verify_payment_signature()

Is this available only for orders ?

[2020-05-06 10:23] harman28 commented on #82
Yes, only available for orders now, we should upgrade this to handle subscriptions as well. Noted. For now, you'll need to write the verify function yourself (can copy the existing source), till we do another release.

[2020-05-06 10:24] harman28 commented on #81
Can you add more info here please? What are you trying to do and when are you receiving the error?

[2020-05-06 10:26] harman28 commented on #80
@mascot6699 You're right, there's no function for upi transfers, since support for that was added very recently. We'll try and package this in our next release, but we'd love it if you could raise a PR to do this as well!

[2020-05-06 10:27] harman28 commented on #79
Good catch @shu8hamrajput , we'll get that sorted right away. Thanks!

[2020-05-06 10:33] shu8hamrajput commented on #79
should I pick this if thats okay?

[2020-05-06 10:33] harman28 commented on #77
@Goutam192002 We don't have support for recurring payments on the Python library yet. You can hit the API directly or extend the request class to add a function for this. If you do the latter, please be sure to raise a PR for us too! :)

[2020-05-06 10:34] harman28 commented on #75
Closing this, appears to be on the wrong repo.

[2020-05-06 10:34] #75 closed

[2020-05-06 10:36] harman28 commented on #74
Closing this, unrelated to the python library. The issue looks genuine though, can you try raising this to our [support portal](https://razorpay.com/support)?

[2020-05-06 10:36] #74 closed

[2020-05-06 10:38] harman28 commented on #71
Agree with this, our API response should tell you that the product or feature is not enabled, and not simply say that the "URL is not found", which is misleading. There is a larger project in the works right now which will allow us to return smarter error codes. Closing this for now as it is unrelated to the python library, which is restricted to working with what the API returns.

[2020-05-06 10:38] #71 closed

[2020-05-06 10:39] harman28 commented on #69
This is correct, you'll need to fetch all payments and log their emails. Rather than using an API for this, you may find it easier to download a report from your Razorpay merchant dashboard and consume that instead.

[2020-05-06 10:39] #69 closed

[2020-05-06 10:41] harman28 commented on #68
@mahoriR This package is designed to be pretty lightweight, meaning any additional parameters in the future are automatically supported since you are permitted to pass a free dictionary that will be forwarded to the API endpoint as-is.

Noted that our documentation could cover this better. We'll push a change [here](https://razorpay.com/docs/server-integration/python/usage/#cancel-a-subscription)

[2020-05-06 10:42] #68 closed

[2020-05-06 10:44] shu8hamrajput commented on #81
This is because the doc is outdated with code.
You may achieve same effect with by replacing `currency` with a dictionary having a key `currency` and your desired value.

for more details refer following code blocks:
[https://github.com/razorpay/razorpay-python/blob/master/razorpay/resources/payment.py#L37](payment capture)

[2020-05-06 10:44] harman28 commented on #66
Sorry for the delay here, noting the answer anyway in case someone else comes looking:

Correct payload: [Link](https://razorpay.com/docs/route/api/transfers/#request-parameters_)

[2020-05-06 10:44] #66 closed

[2020-05-06 10:49] harman28 commented on #57
Currently this functionality is only available on dashboard, and not via API. For this reason, the python package won't be able to implement it either. You can fetch orders with authorized payments though, if that is your real requirement: [Link](https://razorpay.com/docs/api/orders/#query-parameters)

[2020-05-06 10:49] #57 closed

[2020-05-06 10:50] harman28 commented on #56
Closing, unrelated to package.

[2020-05-06 10:50] #56 closed

[2020-05-06 10:53] harman28 commented on #46
I apologise for the lack of response here. Leaving a reply anyway in case someone else comes looking.

I believe this implies a connectivity issue. If you or anyone else is facing this, test whether other packages are getting installed correctly. Closing for now as it seems unrelated to the package.

[2020-05-06 10:53] #46 closed

[2020-05-06 10:54] #48 closed

[2020-05-06 10:54] #51 closed

[2020-05-06 10:56] harman28 commented on #55
There is a an ongoing effort to start returning specific error codes, which our library will be able to consume. Till then, exception will need to be handled in a common place, or using error descriptions (which are specific).

[2020-05-06 10:56] #55 closed

[2020-05-06 10:59] harman28 commented on #53
Sorry for the delay, adding a response here anyway for anyone else who might come looking.

You'll need to subscribe to [webhooks](https://razorpay.com/docs/webhooks/) to be notified of payments. This will give you the ID to query too. For specific invoices, you can also query directly using the invoice ID, checking status.

[2020-05-06 10:59] #53 closed

[2020-05-06 11:01] harman28 commented on #54
Merged the PR, thanks a lot for your contribution @saadmk11 , and sorry we took so long to merge something so useful :)

[2020-05-06 11:01] #54 closed

[2020-05-06 11:01] #59 closed

[2020-05-06 11:01] harman28 commented on #59
@dhaval-mehta As noted about, the data dictionary allows you to pass all accepted parameters, including from and to.

[2020-05-16 01:34] Goutam192002 commented on #77
I'd love to raise a PR.
I'd need some guidance though, on how to get started with contributing to the project.
 This is the first Open-Source contribution I'd be doing😅.

[2020-05-20 05:57] Goutam192002 commented on #77
looks like there already exists a pull request which is yet to be merged.
Here: https://github.com/razorpay/razorpay-python/pull/41

[2020-05-25 09:38] ShipraShalini opened #84 "BadRequestError when creating a plan"
When trying to create a plan, I get the following error:
`BadRequestError: The requested URL was not found on the server.`

The code snippet:
[code]

So I tried to create a plan by directly calling the API using the Postman collections downloaded from the API Reference. I added the auth creds as header, but I still get the same error.

![image](https://user-images.githubusercontent.com/9088430/828

[2020-06-05 10:34] Srikeerthan20 opened #85 "How to update a subscription using the python library"
Below is th e sample curl code for updating a subscription:

`curl -u <YOUR_KEY>:<YOUR_SECRET> \-X PATCH https://api.razorpay.com/v1/subscriptions/sub_00000000000001 \-H "Content-Type: application/json" \-d '{  "plan_id":"plan_00000000000002",  "quantity":5,  "remaining_count":5,  "start_at":1496000432,  "schedule_change_at":"now",  "customer_notify":1}'`

[2020-06-14 19:48] soheshdoshi commented on #84
You need to just add **item_id** in your JSON.
[code]
[checkout this](https://github.com/razorpay/razorpay-python#plans) @ShipraShalini

[2020-06-14 19:52] soheshdoshi commented on #84
Fixes #45

[2020-06-16 17:23] shahharsh176 opened #86 "Returning result in verify_signature not updated in PyPI"
I can see that https://github.com/razorpay/razorpay-python/pull/67 was merged. But when I install razorpay package using pip, it's not reflected there. So, I think Source code package in PyPI is not up to date. So, I request you to update the same.

[2020-07-08 13:26] pratyushmittal opened #87 "ResourceWarning: unclosed - Requests session is not closed"
Using Razorpay Python API raises a lots of warnings for unclosed resource.

[code]

It might not have got the attention because the warnings are hidden by default.
We can enable warnings by using `python -Wa ...`.

The reason for warnings is that the [`requests.session` is not closed](https://github.com/razorpay/razorpay-python/blob/50cfc8269ea498751671770a7eb506f7eb91cbb9/razorpay/client.py#L46).

[2020-07-10 19:55] siddanand opened #88 "SERVER_ERROR"
while creating a fund account during a payout i am getting a server error, how can i solve it

[2020-07-11 19:02] siddanand opened #89 "fund account should be array (bad request error)"
while making a payout using composite api i am getting this error and i cannot find any solution to this on the web pls help

[2020-07-21 18:28] Vibhu-Agarwal opened #90 "PyPI page has no Project Description"
The [PyPI page of Razorpay](https://pypi.org/project/razorpay/1.2.0/) shows

It would be great if we have the same content of README in the Project Description on the PyPI page.

[2020-07-21 18:49] Vibhu-Agarwal opened #91 "Contribution guidelines missing"
Being an open-source project, it would be nice to have a [CONTRIBUTING.md](https://en.wikipedia.org/wiki/Contributing_guidelines).

This would give way to a lot more contributions and easy entry into the project for new contributors.

[2020-07-21 18:50] Vibhu-Agarwal commented on #91
[Here's a good article for making a good CONTRIBUTING.md](https://mozillascience.github.io/working-open-workshop/contributing/)

[2020-07-22 11:04] Vibhu-Agarwal opened #93 "Travis-CI failing on Python Versions: 2.7.6 and 3.3"
## Failing on `2.7.6`: [Travis CI Link](https://travis-ci.org/github/razorpay/razorpay-python/jobs/683781690#L160)
[code]

## Failing on `3.3`: [Travis CI Link](https://travis-ci.org/github/razorpay/razorpay-python/jobs/683781692#L160)
[code]

[2020-07-22 14:32] Vibhu-Agarwal opened #95 "Unexpected parameter in docstring of fetching transfers for 'payment_id'"
## [Fetch Transfers for a Payment](https://razorpay.com/docs/api/route/#fetch-transfers-for-a-payment)

This function doesn't require any `Amount` parameter.

https://github.com/razorpay/razorpay-python/blob/50cfc8269ea498751671770a7eb506f7eb91cbb9/razorpay/resources/payment.py#L79-L87

[2020-07-22 16:20] Vibhu-Agarwal opened #98 "Unclosed File Warning while running tests (locally)"
[code]

https://github.com/razorpay/razorpay-python/blob/50cfc8269ea498751671770a7eb506f7eb91cbb9/tests/helpers.py#L11

[2020-08-04 05:50] mdb2301 opened #100 "module 'razorpay' has no attribute 'Client'"
I was trying to run a test integration of razorpay in python.

My code:
`**
import razorpay
client = razorpay.Client(auth=("******", "******"))

order_amount = 500
order_currency = 'INR'
order_receipt = 'order_rcptid_11'
notes = {'Shipping address': 'Bommanahalli, Bangalore'}   # OPTIONAL

print(client.order.create(amount=order_amount, currency=order_currency, receipt=order_receipt, notes=notes, p

[2020-08-04 08:43] toppertemple opened #101 "Callback URL not formatted properly"
I am appending GET params in callback URL but the razorpay invoice generated short-url is not formatted properly
Example:
needed: https://www.example.com/response?param=example&razorpay_payment_id=example........
getting: https://www.example.com/response?param=example?razorpay_payment_id=example........

[2020-08-06 08:35] vocuzi commented on #76
Can someone please respond to this issue ?

[2020-08-06 09:29] vocuzi commented on #76
It supports python 3.7 and 3.8 as well.

[2020-08-06 11:18] #100 closed

[2020-08-07 12:25] pratsharma opened #102 "Unable to change the description in payments link page"
Hello,

I am trying to create a payment link using the documentation here: https://github.com/razorpay/razorpay-python#payment-link
Here I am facing two issues:
1. The description I am setting is not getting reflected on payment page. Initially I can see the description I am setting but then it changes to invoice id after entire page is loaded.
2. I am trying to customize the payment link using th

[2020-08-09 06:09] pupattan commented on #82
@harman28

Even i provide subscription_id as razorpay_order_id. But still verification is failing.
it does pining like this : sub_FOYXLP0SgUIamT|pay_FOYZSM6AqMr76R

[2020-08-09 16:54] pupattan opened #103 "No function/method to update a subscription"
Looks like there is no  function/method to update a subscription.

[2020-08-10 15:27] sainipray commented on #103
Yes, In default library, it's not exist for update subscription. but you can using follow below code.

[code]

[2020-08-18 15:57] shashikiranraifox commented on #100
I am facing the same issue. What is the fix applied ?

[2020-08-20 10:07] napsterv opened #104 "Unable to create order"
[code]

The script crashes with the error:

`TypeError: request() got an unexpected keyword argument 'amount'`

[2020-09-01 09:56] #90 closed

[2020-09-01 09:58] #93 closed

[2020-09-01 09:58] #95 closed

[2020-09-01 09:59] #98 closed

[2020-09-01 10:02] #80 closed

[2020-09-08 06:02] ramth05 commented on #104
@napsterv , Please use it in this way,

[code]

[2020-09-10 09:18] mayurnewase opened #105 "Incorrect parameters for refund on payment in doc and server error"
I am trying to create refund,doc here (https://razorpay.com/docs/api/refunds/) suggests to use
`resp = client.payment.refund(payment_id, payment_amount, notes=notes)`
I get unexpected argument "notes",as from code `def refund(self, payment_id, amount, data={}, **kwargs)` in resources/payment.py it accepts data dict.
Now after providing data dict as follow
`{
"speed" : speed,
"notes" : notes,
"rece

[2020-09-10 14:53] adhibhuta opened #106 "Behaviour Not Clear"
This is how I am verifying the webhook-
`client.utility.verify_webhook_signature(request.body.decode('utf-8'), request.headers['x-razorpay-signature'], RZP_SECRET)`

I assumed it would return a boolean because [this](https://github.com/razorpay/razorpay-python/blob/a7717df7cc7ab59a97cb56113a244f7685e443a0/razorpay/utility/utility.py#L46) returns the result object, but somehow this is returning onl

[2020-09-11 07:48] mayurnewase opened #107 "support for accept_partial amount,notify in payment links"
while create payment link by using invoice api `client.invoice.create` exposed from this sdk,getting `BadRequestError: accept_partial, reference_id, notify, first_min_partial_amount is/are not required and should not be sent`.

[2020-09-12 04:29] #107 closed

[2020-09-14 14:43] napsterv commented on #104
It worked! Thank you. 😊

[2020-09-16 19:31] dhaval-mehta opened #108 "Add support for new payment links"
Existing payment link implementation will be deprecated. see: https://razorpay.com/docs/payment-links/api/v1/
New API link: https://razorpay.com/docs/payment-links/api/new/create/

[2020-09-17 09:12] webster17 opened #109 "Razorpay verifyWebhookSignature returns null"
I am creating razorpay payment web-hook through laravel.
I have used razorpay version 2.50

and my code looks like this:

$params = $request->all();
$result = $api->utility->verifyWebhookSignature(json_encode($params['signature_body']), $params['signature'], env('webhook_secret'));

Request:
{
    "signature_body": {
        "entity": "event",
        "account_id": "acc_ATUwkTaTTae5B3",
        "e

[2020-09-17 10:53] #109 closed

[2020-09-23 02:48] prashanthKumar69 commented on #103
@sainipray how does the above code effect the payments if the subscription billing cycle is already started and if i am changing the plan in subscription?

[2020-09-24 23:13] dependabot-preview[bot] opened #111 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/razorpay) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/razorpay/update-logs/48650025).

[2020-09-27 23:12] #111 closed

[2020-09-29 12:47] ramth05 commented on #104
@noobExtendsBot , please follow the razorpay doc https://razorpay.com/docs/api/orders/#order-entity

[2020-09-30 18:44] adhibhuta commented on #106
@captn3m0 Any updates on this? Is this the right behavior?

[2020-09-30 19:46] adhibhuta commented on #84
@soheshdoshi Where do I find the item id? When I create a plan on the Razorpay dashboard it creates an item_id by itself same for the curl request. if I pass any random `item_id` it says- `razorpay.errors.BadRequestError: The id provided does not exist`

[2020-09-30 20:48] adhibhuta opened #112 "How to create a plan using the library"
When I am trying to create a plan by calling `client.plan.create(data=data)` its looking for an `item_id` where do I get the item id?

If I create a plan using a curl request or postman as shown [here](https://razorpay.com/docs/api/subscriptions/#create-a-plan) it work perfectly fine and doesn't ask for an `item_id`, it creates one by itself and returns it back.

But when I use `requests` to do th

[2020-09-30 20:59] adhibhuta commented on #103
@pupattan @prashanthKumar69 How did you even create a plan, can't even create a plan

[2020-10-04 09:37] mrabhinv opened #113 "How to test the whole flow of Razorpay without a front end?"
For e.g.

I am using Django tests so if there was a way to get Razorpay signature without the need of a front end to provide it, it would make things easy.

[2020-10-05 07:40] Vibhu-Agarwal commented on #108
@captn3m0 May I take up this issue?
- Won't replace the `Invoice` resource, will just add a [`DeprecationWarning`](https://docs.python.org/3/library/exceptions.html#DeprecationWarning) to its functions.
- Will add a new resource: `PaymentLinks` (resulting in `client` having an attribute of `paymentlinks`).

[2020-10-06 14:16] Vibhu-Agarwal commented on #108
@harman28 ^^^

[2020-10-07 07:53] dhaval-mehta commented on #113
You can use mock from the unittest.

Disclaimer: I am not from the Razorpay team.

[2020-10-07 08:45] abhinavmarwaha commented on #113
What exactly do you mean by "mock" from the unit test?

[2020-10-07 09:16] dhaval-mehta commented on #113
[code]

[2020-10-07 09:17] dhaval-mehta commented on #113
https://realpython.com/python-mock-library/

[2020-10-08 08:16] Vibhu-Agarwal opened #114 "Add support for Python 3.7 and 3.8"
**Proposal**: Add support for Python3.7 and Python3.8
**Also requested**: in #76

**Rationale**
Python3.5 reached the EOL last month. So the library has support for 3.6 as the only Python version which is still maintained (but only for security patches). Python3.8 is the lowest version which is still accepting `bugfix` patches.

**Optional**
Drop support for Python3.3 as it's been over three years

[2020-10-09 07:06] noobExtendsBot opened #115 "Redirect user when client traverse back to payment page after payment has been completed"
After payment has been completed, I intentionally traverse back to previous page, where I have the Pay button to complete the payment. But when I click on it, i get a alert from JS about payment has already been completed. [As shown here](https://imgur.com/a/oGK0LYV).
After pressing OK from alert box, that current page hangs and I have to refresh that page from tool bar and then it redirects me wh

[2020-10-10 03:59] TannyS26 opened #116 "Send a mail on payment and upgrade to python 3.7"

[2020-10-11 14:39] #116 closed

[2020-10-12 13:11] ruchirtoshniwal opened #117 "module 'razorpay.settings' has no attribute 'Client'"
Can anyone help ??

[2020-11-03 12:42] vivekpathania opened #118 "orders"

[2020-11-04 15:53] Aekanshu opened #119 "Notes should be provided as a dictionary"
hi I have cre4ated a simple program and when I tried to create an order then I got this error :-

**razorpay.errors.BadRequestError: Notes should be provided as a dictionary**

My code is :-

[code]

without notes it is working fine

what should i do ?

[2020-11-05 02:21] Aekanshu commented on #119
Hey guys the problem has been resolved as the problem was that i was using an older version of razorpay i.e. 0.1 but now version 1.2.0 is available so as soon as I upgraded my  library with `pip install razorpay --upgrade` all problems has been resolved .

[2020-11-05 02:21] #119 closed

[2020-11-11 12:43] Mitalee opened #120 "Compatibility with urllib3 1.26.0"
Razorpay calls are failing with the latest version of urllib3 (1.26.0, released on 11/11, https://pypi.org/project/urllib3/#history)

[code]

[2020-11-12 05:04] Mitalee commented on #120
Hi guys, for now I have found that pip allows installation with a 2020 resolver. The following has fixed the issue temporarily:
[code]

[2020-11-17 13:38] niketnishi opened #121 "TypeError: encoding without a string argument"
payload_body = request.body
webhook_signature = request.headers['X-Razorpay-Signature']
client = razorpay.Client(auth=(RAZORPAY_KEY, RAZORPAY_PASS))
client.utility.verify_webhook_signature(payload_body, webhook_signature, secret_key)

The above was working fine with python 2.7 but gives an error with python 3.6.12.
As the documentation specifies **"Do not parse or cast the webhook request body.:
W

[2020-12-06 09:02] sharad-anc opened #122 "No Interface for Payout"
No Interface for Payout. Which also includes creating contact, fund account, and processing fund account validation.

[2020-12-23 08:07] MamtaBhagia commented on #121
You can resolve your issue in two ways -
body = str(request.body, 'utf-8'). # This will decode the bytes into string
OR
body = json.dumps(request.data, separators=(',', ':'))
# https://stackoverflow.com/questions/53706973/razorpay-webhook-signature-verification-error

@RazorpayTeam - It seems like we are converting the request.body from bytes to string, and then in your code you are just convertin

[2020-12-23 13:00] niketnishi commented on #121
The first solution gives an error
**Razorpay Signature Verification Failed**

And the 2nd solution gives an error
**Object of type 'bytes' is not JSON serializable**

[2020-12-25 20:20] youngking1686 opened #123 "Need product detail in Webhook payment response."
I am trying to use the webhook response of any payments to do my backend updation on my client's purchases. But I don't see for which product/payment page the client has paid for, right now I have only subscription plans and classifying them based on the amount that has been paid, I know it sounds stupid. Please someone clarify if I am missing any detail here or any help is much appreciated. All I

[2021-01-30 01:01] rahul6612 commented on #84
after passing order_id i am getting the same error  The id provided does not exist **WHY**?

[2021-01-30 01:06] rahul6612 opened #126 "The id provided does not exist any idea?"
while creating the new payment i am passing the order_id like this
`payment = client.order.create(dict(amount=order_amount, currency=order_currency, order_id=product_order_id))`
and in HTML i am doing this   `data-order_id= {{product_order_id}}` but during payment why its showing  **_The id provided does not exist_**  i am using in test mode.

[2021-02-11 05:27] 7saikat7 commented on #73
how did you solved it ?

[2021-02-11 05:44] 7saikat7 commented on #104
sir ,  'function' object has no attribute 'Client'
this issue is before crerate order .
[code]

[2021-02-15 11:51] shivam9804 opened #127 "Can't create customer using client.customer.create(data=obj)"
I am trying to create a customer using `client.customer.create(data=obj)` this is the data that I am passing to the function
`{"email": "test@test.com", "fail_existing": "1", "name": "test"}` and it throws an error `razorpay.errors.BadRequestError: 0 is/are not required and should not be sent`.

[2021-02-16 10:27] #127 closed

[2021-03-14 19:09] ashutoshsingh0223 commented on #82
Yes that is what is wrong. If you flip it starts to work Eg. pay_FOYZSM6AqMr76R|sub_FOYXLP0SgUIamT

[2021-03-26 08:01] vivekhub opened #129 "Support for multiple currencies?"
I am trying to create an order using USD as currency.  I am calling order.create() with currency as 'USD' and I get a BadRequestError with Currency not supported message.  What am I doing wrong  ?

[2021-03-27 05:35] duraiganesh0 commented on #73
Hey @vinaykr579 I am also facing the same issue. How did you solve it?

[2021-04-15 16:52] osmarghyadeep opened #131 "Payments are not auto captured"
So suppose we created an order -> order_a (state: created)
Also we did the payment -> payment_a (state: authorized)

Auto capturing of payments is turned on.

Issue 1: Payments are not auto captured - not sure why
As of now - we have a work around - we are explicitly calling the api to capture the payment

But still this is an issue as --
- Is the feature meant to be deprecated, or
- There is real

[2021-04-15 16:56] osmarghyadeep opened #132 "Order status is not getting updated - as the Payment changes from "authorized" to "captured""
Assumption - As soon as the status of the payment changes from "authorized" to "captured" - the respective order status should update automatically from "created" to "attempted" or "paid"

Nothing is happening according to this assumption!!

(Please correct me if I am wrong here in my "Assumption")

I was working in "test" environment

[2021-04-24 16:18] epsi95 opened #133 "client.order.create(amount=order_amount, currency=order_currency, receipt=order_receipt, notes=notes) gives error!"
In the documentation mentioned  [here](https://razorpay.com/docs/payment-gateway/web-integration/standard/#step-1-create-an-order-from-your-server), the way to create `order_id` is
[code]

But upfortunately it does not work giving an error
[code]

The way to handle this
[code]

It seems Razorpay using requests and REST apis under the hood and they are directly passing the arguments to `requests` m

[2021-04-28 06:28] imkaka opened #134 "Avoid using mutable defaults."
Mutable `{}` is used in functions everywhere in the project, which can lead to leaks if these functions are not called properly.
refer - https://florimond.dev/blog/articles/2018/08/python-mutable-defaults-are-the-source-of-all-evil/

[code]

[2021-05-03 01:44] devansh-chotai commented on #123
you can try passing the product and customer info in the notes section and retrieve it in the webhook

[2021-05-15 11:33] anusree12 opened #136 "how to update the payment status using python api"

[2021-05-29 22:16] thearyanag commented on #73
This issue arises if the name of the file is same as that of the module ! Your file name would be razorpay.py

[2021-05-30 06:40] 7saikat7 commented on #73
ya ya it solved a lot ago and working fine in TEST MODE ... sorry i forgot to mention here ,

razorpay==1.2.0 add this in requirements and install it, I don't have any razorpay.py file !

[2021-05-30 10:37] princepatoliya commented on #73
Also, no folder should be named RazorPay.

[2021-06-02 05:25] mahefooz opened #138 "Unable to fetch more than 10 payments of a virtual account"
As per documentation, it says we can fetch 10 to 100 payments made to a virtual account, but in Python SDK, we don't have option to use 'count' variable to fetch more than 10 payments.

`client.virtual_account.payments(virtual_account_id=va_id)`

In the above function, it is taking only virtual account id, how to resolve this issue?

[2021-06-08 05:44] hexdecimal16 commented on #103
This seems so weird. In docs they have listed method for subscription but in library there aren't any methods.

[2021-06-15 20:23] Anil-matcha commented on #129
Facing the same issue, any help here ?

[2021-06-16 06:12] Anil-matcha commented on #129
Thanks for sharing it. It seems the account has to be setup for accepting international payments. There is a procedure for it mentioned here https://razorpay.com/docs/payment-gateway/payments/international-payments/#enable-international-payments

[2021-06-16 09:50] vivekhub commented on #129
Thanks for the update.  I am going to close this issue for now.

[2021-06-16 09:50] #129 closed

[2021-06-29 16:26] Kalpa916 commented on #44
remove recipt

[2021-07-07 16:48] ecakashjadhav opened #144 "BadRequestError when amount is >50,000"
I'm getting '**Amount exceeds maximum amount allowed error**'.What is the solution if the amount is >50000

[2021-07-24 13:30] FIRDOUS-BHAT commented on #133
@epsi95 Got the same error on using there documentation. Razorpay still has not updated the documentation.

[2021-08-01 18:37] sanzzzay commented on #103
Read this - https://github.com/razorpay/razorpay-python#plans
Underlying code -  https://github.com/razorpay/razorpay-python/blob/305f7311eb00f1541d16bbc4eb2a24c642e0e033/razorpay/resources/plan.py#L10

[2021-08-03 12:15] MishalJasmine opened #147 "Issues with verifying the webhook signature"
I am facing issues with the webhook signature verification in python. I created a invoice in the following manner

[code]

I have tried doing the signature verification is done in the following manner, none of them worked.

[code]
**Method 1**
[code]

**Method 2**
[code]

**Method 3**
[code]
**Method 4**
[code]

Method 1 resulted in  a None. Method 2 gave TypeError: Object of type bytes is not JSO

[2021-08-03 17:07] pupattan commented on #103
Closing this issue as we got some solution. thanks

[2021-08-03 17:07] #103 closed

[2021-08-12 18:48] sanzzzay commented on #112
Basically, in this ```client.plan.create(data=data)``` you need to pass the `data` in the format which is given in request body the same which you have posted:
[code]
For example:
[code]
I hope this will work.

[2021-08-12 19:39] sanzzzay commented on #84
Hey @ShipraShalini - couple of things we can try here.
1. Check this post - https://github.com/razorpay/razorpay-magento/issues/112 - [Some port issue]
2. In Test mode, generate the API keys and add it to POSTMAN like this: https://razorpay.com/docs/assets/images/api/postman_basic_auth.gif , it worked for me. 😸
3. To test through the client code - check [this](https://github.com/razorpay/razorpay-

[2021-08-13 09:34] kanav-raina opened #148 "USD is not supported for creating a plan in razorpay"
[code]
I want to create a plan for subscription which support USD as currency but its throwing this error "razorpay.errors.BadRequestError: Currency provided is not supported"

When I am using INR as currency its working fine. How to use USD as currency type in razorpay python for reating a plan for subscription

[2021-08-13 09:36] kanav-raina commented on #148
![Screenshot from 2021-08-13 15-05-51](https://user-images.githubusercontent.com/29794748/129337382-b0f30420-184f-4d16-96ab-5d64d5803e46.png)

[2021-08-21 05:55] gowthamvbhat commented on #108
Razorpay deprecated the old payment link api on Aug 15 2021 - [https://razorpay.com/docs/payment-links/api/v1/](url)

[2021-08-25 12:48] kanav-raina commented on #147
METHOD1: if it's returning none that means verification is successful. Try to use this in try catch

[2021-08-31 16:32] kanav-raina commented on #148
yes I was able to create plan in INR

[2021-09-15 12:29] noufal-onsite opened #151 "Payment Link API not available in tag 1.2.0"
We are not able to see payment link api on tag 1.2.0, When we trying to use it via pip always getting non payment link versions

[2021-09-28 05:07] kanav-raina commented on #148
In international payment I have enabled paypal but its still not accepting currency as USD while creating a plan
![Screenshot from 2021-09-28 10-36-06](https://user-images.githubusercontent.com/29794748/135026603-09ca6ddb-e74a-4cc8-b1ea-8c4ea2f1fbae.png)

[2021-09-28 20:27] sanzzzay commented on #148
I am just guessing what went wrong for you.
Did you enable international payments? Watch this: https://youtu.be/lPvasqEJqK8
You might need to select USD in "currencies to focus".
Lastly, you might need to reach their help and support.

[2021-09-30 08:46] kanav-raina commented on #148
![Screenshot from 2021-09-30 14-09-33](https://user-images.githubusercontent.com/29794748/135418340-d3fd5b8b-e0f7-491d-92e4-144af56083fc.png)
I dont have this option @sanzzzay

[2021-09-30 08:50] kanav-raina commented on #148
In the video you have option to request international card but I dont have option to request international card and when I use this https://razorpay.com/support/#request, its asking me to login and redirecting to dashboard

[2021-09-30 18:48] sanzzzay commented on #148
@kanav-raina I am not sure why there is no option to enable International Cards here.
I guess you have appropriate roles - any one of them - Owner, Admin and Manager.
Meanwhile I will suggest you to go through this: https://razorpay.com/docs/payments/dashboard/settings/payment-methods/
and https://razorpay.com/accept-international-payments/
Rest if I get anything, I will let you know.

[2021-10-01 06:24] kanav-raina commented on #148
Thanks @sanzzzay

[2021-10-05 12:58] sid-khullar opened #152 "'Client' object has no attribute 'payment_link'"
The following code results in the error below. Unsure how to proceed. Thanks!
```AttributeError: 'Client' object has no attribute 'payment_link'```

I'm using Python 3.9.1 and while I'm aware this version of python isn't supported, will it cause the stated error?

[code]

[2021-10-07 10:10] Mansi-Chauhan27 opened #153 "SDK can be used for Routes as well?"

[2021-11-14 13:51] Amaranath1994 opened #154 "Subscriptions prefil email id and mobile number"
Hi, I am trying to create subscriptions using Razorpay subscriptions. Every time it asks for the email ID and mobile number of the end-user at the time of payment. Is there a way where we can prefill email ID and mobile number so that end-user need not to take pain of entering this data again.
![image](https://user-images.githubusercontent.com/51707429/141684033-fd898a94-52fd-4b8e-81d6-b6c17926aaf

[2021-11-19 07:38] Amaranath1994 opened #155 "Unable to create subcriptions"
I am trying to create a subscription using APIs.

Here is my code

`import requests
data = {
  "plan_id":"plan_IN0gNyprphoxy0",
  "total_count":12,
  "quantity":1,
  "start_at":1637221418,
  "expire_by":1699620766,
  "customer_notify":1,

"notify_info":{
    "notify_phone":"8888888888",
    "notify_email":"abc@gmail.com"
  }

}
response = requests.post('https://api.razorpay.com/v1/subscriptions',

[2021-11-19 07:40] Amaranath1994 commented on #155
Here is the snippet of the code -
![image](https://user-images.githubusercontent.com/51707429/142584103-5cae04ab-386b-4f7c-a219-3b6b88e84f8b.png)

[2021-11-23 15:11] sanzzzay commented on #155
[code]
This will do.

[2021-12-14 08:10] aman162000 opened #156 "razorpay.errors.BadRequestError: Amount exceeds maximum amount allowed."
I am trying to create an order but this error occurred. I also tried to create order using API but it also throw the same error.

[code]

[2021-12-27 06:56] rjbanna opened #162 "No response from the verify_payment_signature function"
Hello all,

There is one function to verify the payment signature i.e. verify_payment_signature, but when I called that function, it returned nothing even if the signature was correct. So I took a look at the source code, and found that there is no return statement in that function, and that was the reason, I was getting None as the response. So I kindly request the Razorpay developers to add the

[2022-01-06 16:50] pratyush3124 commented on #162
Hey all,
I have the same problem.
The code here is updated but not in pip.
Please update it so that we can use the files for 'pip install razorpay'.

[2022-01-27 11:21] varun-jaggi opened #178 "Razorpay Verify Payment Signature Failed with Valid Signature"
Hi,

i am trying to use Verify Signature payment func to verify my payments exactly like this
 `client.utility.verify_payment_signature(params_dict)`
but it fails with 'Razorpay Verify Payment Signature Failed'

The github razorpay code contains Verify Signature functions but it is not updated on Pip.

also i need clarity on verify_payment_signature and verify_subscription
as my model works in sub

[2022-01-31 03:42] Mitalee opened #179 "Delete plan endpoint"
Could we have a delete plan endpoint? Right now we only have a create plan endpoint, and neither can the billing details be edited, nor can the plan be deleted and we start over.

[2022-02-12 15:12] moonlightCoder2002 opened #184 "Razorpay Payment Link"
Hi, I am trying to make razorpay payment link using API  in django but cannot do so because client cannot recognise the payment_link function. I am getting the below error while creating the payment link:-

**'Client' object has no attribute 'payment_link'**

Kindly look into the matter.

[2022-02-18 07:27] sunilk-n opened #185 "python kivy integration"
Is there any example for integrating the razorpay api inside the kivy module which will help to make payments for android applications using kivy

[2022-03-08 04:52] rohitsangwan01 commented on #184
@moonlightCoder2002 try this

client.invoice.create(data={
        "customer": {
            "name": "Test",
            "email": "test@gmail.com",
            "contact": "12345"
        },
        "type": "link",
        "view_less": 1,
        "amount": 100,
        "currency": "INR",
        "description": "Payment link for Testing",
    })

this function will sned payment link to email + conta

[2022-03-08 08:11] moonlightCoder2002 commented on #184
@rohitsangwan01
I have already implemented this method but I was wondering why isn't the method specific to payment link working. I wanted to use payment_link method because it is specific to my work. I guess razorpay team hasn't yet updated it. Anyways, thanks for your help.

[2022-03-08 08:26] moonlightCoder2002 commented on #152
@sid-khullar
I guess the version here is not the problem. I got the same error and looks like razorpay team has not updated payment_ link method. If you want you can use old method of generating payment link using invoice methods. Refer https://razorpay.com/docs/payment-links/api/v1/create/

[2022-03-27 14:26] Kumarsatwik commented on #119
Thanks .It help me

[2022-05-25 05:02] AditSoni commented on #31
got any updates regarding this ?

[2022-05-25 05:10] AditSoni commented on #56
having the same error ('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))

and this appears randomly , during using create order api or refund api , using python version 3.9.12 and razorpay  python package 1.3.0 ,
let me know if you guys found a fix

[2022-06-21 11:49] aman00323 commented on #147
+1

getting the same error, is there any further update on this?

[2022-08-27 15:49] suryavaddiraju opened #223 "omitting constants library and utility library in setup.py file during installation"
as a security concern, the constant and utility libraries has not been added in setup.py file it has to be included - to indicate that the libraries come with the master file

[2022-08-30 05:09] sid10on10 opened #224 "AttributeError: 'Subscription' object has no attribute 'update'"
Razorpay SDK is giving the error while updating the subscription.
Documentation Reference -> https://razorpay.com/docs/api/payments/subscriptions/#update-a-subscription

The update method is not found in the subscription module.

Solution - Change the edit method of the subscription module to the update to match the documentation.

[2022-08-30 17:57] kkyusufk commented on #224
@sid10on10 Thanks for pointing this out.
I will open a PR for this to fix this issue.
Seems like the solution should be to rename the function to `update` in order to maintain the standard we follow across all languages.

[2022-08-30 18:03] sid10on10 commented on #224
@kkyusufk I want to start contributing to this SDK, maybe it would be a good start to fix this issue. I am opening a PR for the same.

[2022-08-30 19:19] kkyusufk commented on #185
Hey @sunilk-n as far as I can tell, this library should work fine in Kivy since it has support for python modules. So no extra step should be required.
Please let us know if you faced any challenges while using this module in Kivy and we can surely look into it.

[2022-08-31 13:38] kkyusufk commented on #223
@suryavaddiraju  can you elaborate on this issue. Not fully able to understand your concern here. A helpful example and links will give us more clarity.

[2022-08-31 17:02] suryavaddiraju commented on #223
check 226 pull request

[2022-09-01 04:34] suryavaddiraju commented on #223
@kkyusufk did you understand, I am closing this comment session after 24 hours until then this session is open for your reply.

[2022-09-01 07:09] kkyusufk commented on #223
@suryavaddiraju makes sense.
Lets close this issue once #226 is merged. That PR should be under review from other folks as well.

[2022-09-01 13:49] suryavaddiraju commented on #223
okay

[2022-09-07 21:45] sid10on10 commented on #184
@rohitsangwan01 It has been implemented in the SDK you can create a payment link using client.payment_link.create

[2022-09-10 16:48] jashandeep1659 commented on #178
did you find solution

[2022-09-12 08:32] bhasinrajesh opened #228 "How to automate the modal payment flow via API"
I am trying to automate the payment part of razorpay in my test to check ordering on our website.The problem is for the  final step of payment I am not able to automate it using just APIs - since it uses the payment modal of razorpay and i have not been able to find the corresponding APIs for it.

I tried with createPaymentJson

payment = client.payment.createPaymentJson({
  "amount": "2500",
  "c

[2022-09-21 22:23] shikhart98 opened #230 "Payment.refund API not backward compatible"
In current implementation as of v1.3.0, in Payment class there are 2 `refund` function definitions, always the later one will be picked and will not be backward compatible!

Function overloading won't work here.
https://github.com/razorpay/razorpay-python/blob/master/razorpay/resources/payment.py#L52
https://github.com/razorpay/razorpay-python/blob/master/razorpay/resources/payment.py#L120

[2022-09-26 02:53] decached opened #231 "Python 2.x still supported?"
[setup.py] mentions that this library works on Python 2.x
[Github workflows config][github-workflows-python] doesn't seem to support that idea. Time to update?

[github-workflows-python]: https://github.com/razorpay/razorpay-python/blob/master/.github/workflows/python.yml#L20

[setup.py]: https://github.com/razorpay/razorpay-python/blob/master/setup.py#L28-L29

[2022-09-26 05:18] decached opened #234 "Consider adding black and flake8 checks"
[black] and [flake8] are an amazing combo to keep code clean and consistent with PEP.  Given that this package has many violations according to black and flake8 (see logs below), you can consider adding checks to your CI.

[black]: https://github.com/psf/black
[flake8]: https://flake8.pycqa.org/en/latest/

[code]

Flake8 checks are run using the default configuration. I myself consider some errors

[2022-10-19 09:43] ydidwania commented on #224
@kkyusufk Any update on this? Seems like a pretty standard fix

[2022-10-22 01:50] mallik482 opened #237 "Pip install of razorpay is not working"
I am using docker, and we have added latest version number  1.3.1/1.30 in requirements files. while pip installing requirement getting below error

The conflict is caused by:
    The user requested razorpay==1.0.1
    The user requested razorpay==1.3.1

To fix this you could try to:
1. loosen the range of package versions you've specified
2. remove package versions to allow pip attempt to solve th

[2022-10-22 02:14] captn3m0 commented on #237
Can you check your requirements.txt file, and see if you have duplicate entries there? If not, can you share the complete requirements.txt file, along with the command you are running?

[2022-10-22 08:44] xeon-zolt commented on #237
@mallik482 check https://pypi.org/project/razorpay/#history you can see no 1.3.1 present their

[2022-11-01 14:14] guptavartika opened #240 "Support for python 3.10"
The documentation says python 3.6 is the latest version supported so far. Since it is pretty old version now, can someone confirm if the latest version is compatible and safe to use with python 3.10 ?

[2022-11-05 12:03] dsplog commented on #154
is there any update on this?

[2022-11-11 18:04] SachitSankhe opened #241 "Amount exceeds maximum amount allowed Error in Razorpay in python"
Please any one help me in this, I make one application that accepts payment from users. I use the Razorpay payment gateway.

here my payment code:

[code]
and I use Test card money from [https://razorpay.com/docs/payments/payments/test-card-upi-details/](https://i.stack.imgur.com/QWG9u.jpg)

my payment page load and work well, but all the time my payment fails. The page where razorpay asks whether

[2022-11-18 09:30] ankitdas13 commented on #241
@SachitSankhe Sorry for the delay . Is it possible that your amount is greater than 9 lakh? Have you tried a static amount ?
In case the issue has not been resolved, please let us know so that we can assist you.

[2022-11-18 09:40] ankitdas13 commented on #240
@guptavartika Sorry for the delay .The SDK works fine for me with Python 3.10.5. If you are getting any issue with v3.10 then please let us know we can help you

[2022-11-18 09:50] ankitdas13 commented on #231
@decached Sorry for the delay and thanks for bringing this to our attention. We will update this in the next release.

[2022-11-18 11:39] ankitdas13 commented on #230
@shikhart98 Sorry for the delay. Both functions are the same, but thanks for informing this to us. We will update this in the next release.

[2022-11-18 12:46] bhasinrajesh commented on #228
Yeah we did make a query using our business account.It didnt quite work like we expected.Thanks anyways you can close this.

[2022-11-18 12:58] ankitdas13 commented on #184
Closing this issue because it has already been implemented in one of recent releases

[2022-11-18 12:58] #184 closed

[2022-11-18 13:15] ankitdas13 commented on #179
@Mitalee Sorry for the long delay. As of now there is no update and delete endpoint for Plan api's. As soon as these are added, we will update the SDK.

[2022-11-21 05:56] ankitdas13 commented on #162
@rjbanna My apologies for the long delay and also for the difficulties you have encountered. Could you let us know if this issue was resolved ? The changes are already updated in Pip

[2022-11-22 12:18] ankitdas13 commented on #156
@aman162000 Apologise for the long delay . Could you please let us know is this issue was resolved? Your amount might be greater than 9 lakh, which might cause this error.

[2022-11-22 12:20] aman162000 commented on #156
I just changed the API keys and it worked.

On Tue, 22 Nov 2022 at 17:48, ankitdas13 ***@***.***> wrote:

[2022-11-22 12:51] ankitdas13 commented on #155
@Amaranath1994 Apologise for the long delay. Could you please let us know if this issue has been resolved ? It would have worked if you added their  `json.dump` at data, and also using our SDK would have make it much easier for you .

<img width="983" alt="Screenshot 2022-11-22 at 6 02 11 PM" src="https://user-images.githubusercontent.com/89454448/203315743-eb2db077-ecf6-4f38-8ab4-b3e3ba9e63cb.png

[2022-11-22 13:33] #152 closed

[2022-11-22 13:44] ankitdas13 commented on #151
@noufal-onsite Apologise for the long delay. Could you please let us know if this issue has been resolved?
In case someone gets an error while using the `payment_link` API, please check this [doc](https://github.com/razorpay/razorpay-python/blob/master/documents/paymentLink.md)

[2022-11-23 10:38] ankitdas13 commented on #144
@ecakashjadhav Could you please let us know if this issue has been resolved ?

[2022-11-23 10:50] ankitdas13 commented on #136
@anusree12 It would have been easier for you if you used our sdk. We have also added sample code snippets in the doc folder. Please let us know if this issue has been resolved

Thanks @sanzzzay for helping here 👏

[2022-11-23 12:06] ankitdas13 commented on #132
@osmarghyadeep Apologise for the long delay. The order status should be changed to "paid" after payment got captured. If it's not happened, then it might be possible there are some technical issues .  Since we don't see any users experiencing this issue, could you please double check it once and let us know?

[2022-11-23 12:21] ankitdas13 commented on #131
Duplicate of #132

[2022-11-23 13:02] ankitdas13 commented on #126
@rahul6612 Apologise for the long delay. Seems like the order id is not generating before checkout, that's why you're getting this error . For anyone else who is searching, if you are experiencing this issue while checking out then you can try with static order id instead of dynamic, if it works, then there would be an issue in your function where order id is generating

[2022-11-23 13:19] ankitdas13 commented on #123
@youngking1686 Could you please let us know if this issue has been resolved ?

[2022-11-23 13:22] ankitdas13 commented on #122
@sharad-anc Apologise for the long delay. We have added this to our roadmap, it will be updated in the future and we will let you know in this issue whenever it released.

[2022-11-23 14:12] ankitdas13 commented on #120
@Mitalee Apologise for the long delay. Would you please let me know if this issue has affected the SDK?

[2022-11-23 14:14] ankitdas13 commented on #118
I am closing this issue since there has been no activity on it.

[2022-11-23 14:17] #118 closed

[2022-11-24 05:51] ankitdas13 commented on #114
@Vibhu-Agarwal Thank you for your proposal & I apologize for the long delay. Support for Python `v3.7` to `v3.10` has already been added in latest releases.

[2022-11-24 05:56] ankitdas13 commented on #113
@mrabhinv Could you please let us know if this issue has been resolved? If it's resolved, then please close this issue
Thanks @dhaval-mehta for helping 👏

[2022-11-24 09:50] ankitdas13 commented on #108
@dhaval-mehta `Paymentlink` has already been implemented in one of recent releases , you can this [doc](https://github.com/razorpay/razorpay-python/blob/master/documents/paymentLink.md) for your reference

[2022-11-24 10:41] ankitdas13 commented on #106
@adhibhuta We apologize for the delay, as well as for this issue. It has already been fixed in #67. Could you please update the most recent version to resolve this issue?
<img width="799" alt="Screenshot 2022-11-24 at 4 09 55 PM" src="https://user-images.githubusercontent.com/89454448/203763963-adb2557d-0734-42a2-9557-dec0fe8fa077.png">

I have added the code snippet for your reference

[2022-11-24 10:54] ankitdas13 commented on #105
@mayurnewase Could you please let us know if this issue has been resolved ? If it's resolved, then please close it.
Thanks @sanzzzay for helping here 👏

[2022-11-24 11:17] #105 closed

[2022-11-24 11:40] ankitdas13 commented on #101
@toppertemple Could you please let us know if this issue has been resolved. If not then it would be helpfull if you explain me more about this issue so we can replicate this from our end but if it was resolved then , please close it

[2022-11-24 11:57] ankitdas13 commented on #89
@siddanand Apologise for the long delay . Your account didn't have access to this feature, which is why you received this error.  If someone else who experiencing this issue , you have to enable this feature, you will need to contact [support](https://razorpay.com/support/) or use the chat option on your merchant dashboard.

[2022-11-24 11:58] ankitdas13 commented on #88
Duplicate of #89

[2022-11-24 12:05] ankitdas13 commented on #86
@shahharsh176 My apologies for the long delay and also for the difficulties you have encountered. Could you let us know if this issue was resolved ? The changes are already updated in Pip

[2022-11-25 09:25] ankitdas13 commented on #85
@Srikeerthan20 My apologies for the long delay. i hope this issue has been resolved , The SDK has also been updated with code snippets of all APIs please check this [doc ](https://github.com/razorpay/razorpay-python/tree/master/documents) for more details

[2022-11-25 10:24] ankitdas13 commented on #81
Duplicate of #79

[2022-11-25 10:46] ankitdas13 commented on #77
Closing this issue because it has already been implemented in one of releases, you can check this [doc](https://github.com/razorpay/razorpay-python/blob/master/documents/emandate.md#create-a-recurring-payment) for reference

[2022-11-25 10:46] #77 closed

[2022-11-28 09:00] ankitdas13 commented on #228
Thanks @bhasinrajesh for confirming us. We are closing this issue for now, but if you still have any questions, please feel free to ask or you can connect to the support [portal](https://razorpay.com/support/).

[2022-11-28 09:00] #228 closed

[2022-11-28 09:26] ankitdas13 commented on #178
@varun-jaggi My apologies for the long delay and also for the difficulties you have encountered. Could you let us know if this issue was resolved ? The changes are already updated in Pip

[2022-11-28 09:29] ankitdas13 commented on #156
Thanks @aman162000  for confirming us. We are closing this issue for now, but if you still have any questions, please feel free to ask or you can connect to the support [portal](https://razorpay.com/support/).

[2022-11-28 09:29] #156 closed

[2022-11-28 09:55] garyspx commented on #56
@AditSoni were you able to find the fix?

[2022-11-28 09:59] AditSoni commented on #56
Not a fix but a work around by putting it in try and except block, and setting max retries(via a for loop) to 3 .

[2022-11-28 11:40] ankitdas13 commented on #138
@mahefooz Apologise for the long delay. Could you please let me know is it resolved or not?
For your reference, you can check this [doc](https://razorpay.com/docs/api/payments/smart-collect/#fetch-payments-for-a-virtual-account) or use this code sample

`options = {"count": 10}`
`client.virtual_account.payments(virtualId,options)`

[2022-11-28 11:48] ankitdas13 commented on #133
@epsi95 Thank you for raising this issue. The documentation has already been updated. please feel free to re-open it or you can report on the support [portal](https://razorpay.com/support/)

[2022-11-28 12:10] ankitdas13 commented on #121
Hi @niketnishi sorry for the delay. We do not receive any reports of this kind of issue from our users at present. Could you please confirm us is it resolved or not ?

[2022-11-28 13:00] niketnishi commented on #121
Hi,

I can not confirm as currently I am  not working on any project which uses
Razorpay as payment gateway.

Thank You,
Niket Nishi

On Mon, 28 Nov 2022, 5:40 pm ankitdas13, ***@***.***> wrote:

[2022-11-29 05:05] ankitdas13 commented on #102
@pratsharma Apologise for the long delay. i might be possible that the issue is from backend side. Could you please let us know is this issue was resolved or not?

[2022-11-29 05:21] ankitdas13 commented on #76
@singhgautam7 Apologise for the long delay. It supports Python v3.7 - v3.10 , could you please let us know if this issue has been resolved. If not, please let us know we will help you

[2022-11-29 05:27] ankitdas13 commented on #60
@varunajmera0 Apologise for the long delay. It has already been added in one of recent releases. Check this [doc](https://razorpay.com/docs/api/payments/invoices/#send-notifications) for your reference. It would be helpful if you let us know if this issue has been resolved or not ?

[2022-11-29 13:30] SachitSankhe commented on #241
Yes now it has started working I believe it was something in the API keys that were generated. I regenerated them and used them

[2022-11-29 13:30] #241 closed